<%= form_with model: [@user, @post] do |form| %>
  <div class="input-group mb-3">
    <%= form.label :title, class:"input-group-text" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= form.label :text, class:"input-group-text" %>
    <%= form.text_area :text, class:"form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
