<%= link_to user_post_path(post.author, post) do %>
  <article class="post_view">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="post__container">
     <h5 class="card-title ">Post no. <%= post.id %></h5>
      <h5 class="card-title writer">by <%= @user.name %></h5>

          <div>
        <%= post.text.truncate(20) if truncated_message %>
        <%= post.text unless truncated_message %>
      </div> 
      <% if local_assigns[:show_all_comments] %>
        <div class="post__counters">
          Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %>
        </div>
      <% end %>

      <% if !local_assigns[:show_all_comments] %>
        <div class="post__counters">
          Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %>
        </div>
      <% end %>
    </div>

    <%= link_to post_likes_path(user_id: post.author.id,post_id: post.id), data: {
        turbo_method: :post
      }, class: 'like-button' do %>
        <button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i> </button>

      <% end %>

<% if local_assigns[:show_all_comments] && post.comments.any? %>
  <div class="container card mb-3" style="max-width: 540px;">
    <%= render partial: 'split/comment', collection: post.comments %>
  </div>
<% end %>

<% if local_assigns[:show_lasts_comments]%>
  <% last_comments = post.recent_comments %>
  <% if last_comments.any?%>
        <div class="container card mb-3" style="max-width: 540px;">

<%= render partial: 'split/comment', collection: post.comments %>
    </div>
  <% end %>
<% end %>
  </article>
<% end %>